<div
  style='width: 600px; margin: 0 auto; background: white; padding: 20px; border: 1px; border-radius: 8px;'
>
  <h1>Thông tin phản hồi</h1>
  <h2>Người gửi: {{email}}</h2>
  <h2>Số điện thoại: {{phone_number}}</h2>
  <h1>Tên: {{name}}</h1>
  <h2>Nội dung phản hồi: {{message}}</h2>
</div>